{if $isShow}
<div id="deploy-center-maintenance" class="alert alert-info">
	Omlouváme se, ale na webové stránce bude probíhat údržba, z důvodu zkvalitnění služeb, a je možné, že všechny služby nebudou plně funkční. Plánovaná odstávka by měla začít v <strong>{$start|date:"H:i"}</strong> a neměla by být delší než-li pár minut.
</div>
{/if}